section.hero{
    position: relative;
    background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.8)), url("https://i.pinimg.com/originals/9f/93/98/9f93981609572d6727e52ce88de942b7.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 94vh; 
}

.searchInput{
    padding: 70px 0px 70px 0px ;
}

#nav-list{
    list-style: "none";
    text-decoration: "none";
    color: "white";
    font-family: "cursive";
    text-transform: "uppercase"
}

.add_title{
    padding: 40px 0px 20px 0px;
}
#container-edit-page{
    margin-top: 5%;
    padding: 100px 0px 20px 0px;
}
#pagination{
    padding: 30px;
}
.brand-dark-color{
    color:darkorange
}